---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Marquee from "../components/Marquee.astro";
import Projects from "../components/Projects.astro";
import Services from "../components/Services.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Header />
  <main>
    <Hero />
    <Marquee />
    <Projects />
    <Services />
    <Contact />
  </main>
  <Footer />
</Layout>
